<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>SearchHub</title>
  </head>
  <style type="text/css">
    body {
      background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201104/pngtree-technology-background-binary-computer-code-vector-illustration-image_458703.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-attachment: fixed;
    }
  </style>
  <body>
    <br/>
    <br/>
    <br/>
    <br/>
    <div
      class="container"
      style="
        margin: 0 auto;
        text-align: center;
      "
    >
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div style="text-align: center;">
    <i class="large material-icons" style="color: white;font-size: 200px;">insert_chart</i>
    <h4 style="color: white;font-family: 'Poppins', sans-serif;font-weight: 700;">Welcome To The SearchHub</h4>
    <p style="color: white;font-family: 'Poppins', sans-serif;font-weight: 700;">A Web App To Meet People Of Your Interest</p>
    </div>
      <a href="/users/register" class="btn btn-outline-info" style="width:150px">Signup</a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/users/login" class="btn btn-outline-info" style="width:150px;">Login</a>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
